TAVILY_API_KEY=your_api_key_here
CEREBRAS_API_KEY=your_api_key_here

# If you are using Azure
MODEL=azure/model_name
AZURE_API_KEY=azure_api_key
AZURE_API_BASE=https://endpoint.azure.com/openai/deployments/deployment_name
AZURE_API_VERSION=api_version